---
import { formatDate } from '@/utils/data.util';
import { Image } from 'astro:assets';

interface Props {
	post: any;
}

const { post } = Astro.props;
---

<a href={post.url} transition:name={post.frontmatter.image.src}>
	<div class="text-sm border-2 border-neutral-950 flex flex-col text-gray-900 
				dark:bg-stone-800 dark:text-white dark:bg-gray-900 dark:border-neutral-50
				hover:text-blue-600 dark:hover:text-blue-300">
		<Image
			src={post.frontmatter.image.src}
			alt={post.frontmatter.image.alt}
      		format="avif"
			class="h-64 object-cover w-full"
		/>

		<div class="p-4">
			<p class="text-lg font-bold mb-4">{post.frontmatter.title}</p>
			<div class="flex justify-between">
				<p>{formatDate(post.frontmatter.pubDate)}</p>
				<p class="font-bold">{post.frontmatter.minutesRead}</p>
			</div>
		</div>

	</div>
</a>

